.event-title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 150%;
    text-align: center;
    color: #1E1B61;
}
.card{
    position: relative;
    width: 70vw;
    aspect-ratio: 16/9;
    background: #Fff;
    border-radius: 20px;
    overflow: hidden;
    border: none !important;
    border-radius: 60px !important;
}
.card .poster::before{
    content: '';
    position: absolute;
    bottom: -180px;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #1E1B61 50%, transparent);
    transition: 0.5s;
    z-index: 1;
    border: none !important;
}
.card .poster img{
    width: 100%;
    transition: 0.5s;
}
.card .details{
    position: absolute;
    bottom: 20px;
    left: 20px;
    padding: 20px;
    width: 100%;
    z-index: 2;
    transition: 0.5s;
}
.card .details h3{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 150%;
    color: #F9F9FB;
}
@media(max-width:1024px){
    .card{
        width: 90vw;
    }
}
@media(max-width:576px){
    .card{
        aspect-ratio: 9/16;
    }
    .card .poster img{
        width:500%
    }

    .card .details{
        position: absolute;
        bottom: 0px;
        left: 0px;
        padding: 20px;
    }
}
